################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShareKnowledge/.vs/ShareKnowledge/v15
